asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==2.1.0
Django
django-cors-headers
django-filter
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
idna
itypes
Jinja2
MarkupSafe
openapi-codec
psycopg2-binary
PyJWT
python-decouple
pytz
requests
simplejson
sqlparse
stripe
typing_extensions
uritemplate
urllib3
gunicorn
